version: "3.7"

services:

  db:
    container_name: postgres-database
    image: postgres:16-alpine3.18 # alpine is a light version of Linux
    restart: always # allowing to restart the container
    environment:
      - POSTGRES_USER=postgres # defining username
      - POSTGRES_PASSWORD=0000 # defining password
      - POSTGRES_DB=cnpjs # name of default database created
      # this ENV variable is only required for the healthcheck section - if you don't specify it, the check command will fail stating the root user doesn't exist in posgres
      - PGUSER=postgres
    volumes:
      - ./database-data:/var/lib/postgresql/data # persistent data
    ports:
      - 5432:5432
    expose:
      - 5432
    healthcheck:
      # this command checks if the database is ready, right on the source db server
      test: pg_isready -d cnpjs -h localhost -p 5432 -U postgres
      interval: 5s
      timeout: 10s
      retries: 5
      start_interval: 15s

  etl:
    container_name: etl-cnpjs
    build: .
    deploy:
      resources:
        limits:
          cpus: '8'
          memory: 2G
        reservations:
          cpus: '4'
          memory: 500M
    depends_on: # db will start before etl
      db:
        condition: service_healthy
    environment:
      - DB_DRIVERNAME=postgresql
      - DB_USERNAME=postgres
      - DB_PASSWORD=0000
      - DB_HOST=postgres-database # name given to db container
      - DB_PORT=5432
      - DB_NAME=cnpjs
      - THREADS_NUMBER=4
      - CHUNKSIZE=10000
    volumes:
      - ./etl:/etl
    working_dir: /etl
    command: sh -c "pytest ./etl/tests/test_database.py && pytest ./etl/tests/test_BaseModel.py && python etl-small-tables.py && python etl-big-tables.py"