version: "3.1"

services:

  db:
    image: postgres
    restart: always # allowing to restart the container
    environment:
      - POSTGRES_USER=postgres # defining username
      - POSTGRES_PASSWORD=7674 # defining password
      - POSTGRES_DB=mydb # name of default database created
    volumes:
      - ./data:/var/lib/postgresql/data # persistent data